/* ---------- Shared ---------- */

body, .jumbotron, .close-menu, #contact h2{
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	text-transform: uppercase;
}
body, .jumbotron, .link{
	text-decoration: none;
}
#menu, .nav:hover, .slide-menu, .close-menu, .slide-nav:hover{
	box-shadow: 0px 2px 2px #910818;
}
.jumbotron, #about-block, #about-title, #testim-block, #testim-title, #blog-block, #blog-title{
	position: relative;
}
.nav, .slide-nav{
	padding: 10px;
}
a{
	text-decoration: none;
}
#contact, #about-text, #testim-text, #blog-text, #copyright{
	font-family: 'Merriweather', serif;
}
#about-title, #testim-title, #blog-title{
	top: 0.5em;
	width: 90%;
	border: none;
	border-radius: 5px;
	z-index: 1;
	margin: 0 0 0 1em;
	padding-left: 1em;
}
#about-title h1, #testim-title h1, #blog-title h1{
	font-size: 5em;
	z-index: 1;
	color: white;
	margin: 0;
}
#about-block, #testim-block, #blog-block{
	border-radius: 5px;
	height: 480px;
	margin-top: .5em;
}
#about-text, #testim-text, #blog-text{
	width: 680px;
	text-align: justify;
	text-transform: none;
}
#quote, #contact p, #contact a, #copyright, #about-text, #testim-text, #blog-text{
	text-transform: none;
}


/* ---------- Body ---------- */

body{
	overflow-x: hidden;
}

.link{
	color: #32B9ED;
}

#overlay{
	position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    opacity: 0.9;
    filter: alpha(opacity = 90) !important;
    display: none;
    z-index: 10;
    background: -webkit-linear-gradient(left top, #EB0080 , #0579D9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #EB0080 , #0579D9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #EB0080 , #0579D9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #EB0080 , #0579D9); /* Standard syntax */
}

/* ---------- Jumbotron ---------- */

.jumbotron{
	background-image: url('http://i.imgur.com/vrIn63h.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border: none;
	border-radius: 5px;
	height: 800px;
	z-index: 1;
	position: relative;
	text-align: center;
}
.jumbotron a, .jumbotron a:hover{
	text-decoration: none;
	color: black;
}
#menu{
	position: absolute;
	width: 320px;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: 5.5em;
	background-color: rgba(180, 180, 180, 0.25);
	border-radius: 5px;
	z-index: 2;
}
#name a{
	font-size: 1.75em;
}


/* ---------- Scrollmenu ---------- */

#scrollmenu{
	display: none;
	position: fixed;
	right: 15px;
	z-index: 20;
}
#icon{
	height: auto;
	width: 40px;
}

.slide-menu{
	width: 240px;
	height: 300px;
	display: none;
	position: fixed;
	right: -60px;
	background-color: rgba(200, 200, 200, 0.75);
	z-index: 9999;
}
.slide-menu ul{
	list-style: none;
}
.close-menu{
	padding: 5px;
	cursor: pointer;
	font-size: 1em;
}
.slide-menu a{
	color: black;
}
.slid-out{}


/* ---------- About ---------- */

#about-title{
	background-color: #7663A3;
}
#about-text{
	width: 680px;
	z-index: 10;
	padding: 1em 0 1em 1.5em;
	float: left;
}
#about-img{
	height: auto;
	width: 320px;
	border-radius: 5px;
	float: right;
	margin: 1.5em 6em 0 0;
}


/* ---------- Testimonials ---------- */

#testim-title{
	background-color: #54958C;
}
#testim-img{
	height: auto;
	width: 320px;
	border-radius: 5px;
	float: left;
	margin: 1.5em 1em 0 1em;
}
#testim-text{
	width: 680px;
	padding: 1em 1.5em 1em 1.5em;
	position: absolute;
	left: 350px;
}


/* ---------- Blog ---------- */

#blog-title{
	background-color: #61749F;
}
#blog-text{
	width: 680px;
	z-index: 10;
	padding: 1em 0 1em 1.5em;
	float: left;
}
#blog-img{
	height: auto;
	width: 320px;
	border-radius: 5px;
	float: right;
	margin: 1.5em 6em 0 0;
}


/* ---------- Footer ---------- */

footer{
	clear: both;
}
#quote{
	text-align: center;
	font-family: 'Marck Script', cursive;
}
#ryt{
	height: auto;
	width: 150px;
	display: block;
	margin: 40px auto;
}
#contact{
	padding: 15px;
}
#contact a{
	color: #32B9ED;
}
#copyright{
	padding: 10px;
	opacity: 0.4;
}


/* ----------------------------------
		Media Queries
---------------------------------- */

@media only screen and (max-width: 480px){

	.jumbotron{
		background-position: center;
		overflow: hidden;
	}
	#about-block, #blog-block, #testim-block{
		height: auto;
	}
	#about-title, #testim-title, #blog-title{
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: 5.5em;
		position: static;
		z-index: 0;
	}
	#about-img, #testim-img, #blog-img{
		margin: 1em 0;
		width: 100%;
		z-index: 0;
	}
	#about-text, #testim-text, #blog-text{
		width: 100%;
		padding: 0;
		right: 0;
		left: 0;
		position: static;
		z-index: 0;
	}
	#contact{
		text-align: center;
	}

}

@media only screen and (min-width: 481px) and (max-width: 767px){

	.jumbotron{
		background-position: center;
		overflow: hidden;
	}
	#about-block, #testim-block, #blog-block{
		height: auto;
	}
	#about-title, #testim-title, #blog-title{
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: 5.5em;
		position: static;
		z-index: 0;
	}
	#about-img, #testim-img, #blog-img{
		margin: 1em;
		width: 95%;
		z-index: 0;
	}
	#about-text, #testim-text, #blog-text{
		width: 100%;
		padding: 0;
		right: 0;
		left: 0;
		position: static;
		z-index: 0;
	}
	#contact{
		text-align: center;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1024px){

	.jumbotron{
		background-position: center;
		overflow: hidden;
	}
	#about-block, #blog-block, #testim-block{
		height: auto;
	}
	#about-title, #testim-title, #blog-title{
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: 5.5em;
		position: static;
		z-index: 0;
	}
	#about-img, #testim-img, #blog-img{
		margin: 1em 0;
		width: 100%;
		z-index: 0;
	}
	#about-text, #testim-text, #blog-text{
		width: 100%;
		padding: 0;
		right: 0;
		left: 0;
		position: static;
		z-index: 0;
	}
	#contact{
		text-align: center;
	}

}