/* ---------- Shared ---------- */

#overlay, header, .slide-menu{
	position: fixed;
}
#name, .slide-menu, .close-menu, #title, #contact h2{
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
}
#title, #contact h2, .slide-menu{
	text-transform: uppercase;
}
.slide-menu, .close-menu, .slide-nav:hover{
	box-shadow: 0px 2px 2px #b8efe5;
}
#quote, #copyright, #contact p, #contact a{
	text-transform: none;
}
#quote, #title{
	text-align: center;
}
#content, #nav-button{
	float: right;
}
a{
	text-decoration: none;
}
#copyright, #contact{
	padding: 15px;
}
#main h2, #content, .praise, #contact a, #contact p, #copyright{
	font-family: 'Merriweather', 'Open Sans', sans-serif;
	line-height: 150%;
}
#icon, #ryt{
	height: auto;
}
#overlay{
	position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    opacity: 0.9;
    filter: alpha(opacity = 90) !important;
    display: none;
    z-index: 10;
    background: -webkit-linear-gradient(left top, #EB0080 , #0579D9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #EB0080 , #0579D9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #EB0080 , #0579D9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #EB0080 , #0579D9); /* Standard syntax */
}


/* ---------- Header ---------- */

header{
	width: 420px;
	height: 120px;
	top: 20px;
	left: 0;
	z-index: 10;
	transition: all .3s ease 0s;
	background: #b8efe5;
}
header:hover{
	padding-left: 15px;
}
#name{
	font-size: 2.4em;
	width: 300px;
	margin: 38px 0 0 15px;
	float: left;
}
#name a{
	color: black;
}
#nav-button{
	margin: 38px 25px;
}
#icon{
	width: 40px;
}

.slide-menu{
	width: 240px;
	height: 300px;
	display: none;
	top: -320px;
	left: 440px;
	background-color: rgba(200, 200, 200, 0.75);
	z-index: 9999;
}
.close-menu{
	padding: 5px;
	cursor: pointer;
	font-size: 1em;
}
.slide-nav{
	padding: 10px;
}
.slide-menu ul{
	list-style: none;
}
.slide-menu a{
	color: black;
}

.slid-out{}


/* ---------- Title ---------- */

#title{
	font-size: 2em;
	height: 140px;
	background-color: #54958C;
	padding: 20px;
}
#title h1{
	color: white;
}


/* ---------- Content ---------- */

#main{
	padding-top: 160px;
}
#content{
	width: 80%;
	margin: 40px 40px 100px 0;
	padding-right: 20px;
	text-align: justify;
}
.praise{
	font-size: 1.2em;
}
.in-quote{
	font-style: italic;
}


/* ---------- Footer ---------- */

footer{
	clear: both;
}
#quote{
	font-family: 'Marck Script', cursive;
}
#ryt{
	width: 150px;
	display: block;
	margin: 40px auto;
}
#contact a{
	color: #32B9ED;
}
#copyright{
	opacity: 0.4;
}


/* ----------------------------------
		Media Queries
---------------------------------- */

@media only screen and (max-width: 675px){

	header{
		width: 100%;
		height: auto;
		top: 0;
	}
	header:hover{
		padding-left: 0;
	}
	#bar{
		display: inline;
	}
	#name{
		width: 90%;
		height: auto;
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}
	#icon{
		float: right;
		width: 1.5em;
		margin: 0;
		padding: 0;
	}
	#nav-button{
		margin: 0 auto;
	}

	.slide-menu{
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		right: 0;
	}
	.slide-menu li{
		display: inline-block;
		font-size: 0.75em;
	}
	.close-menu{
		display: none;
	}

	#main{
		padding-top: 20%;
	}
	#content{
		width: 90%;
		padding-right: 0;
		margin: 0 auto;
		float: none;
	}
	#title{
		font-size: 1.2em;
		padding: 0.1em;
		height: auto;
	}
	#title h1{
		height: 90%;
	}
	#content h2{
		font-size: 90%;
	}
	.praise{
		font-size: .8em;
	}

}